{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <table class="table table-striped table-hover"  style="text-align: right;">
        <thead>
            <tr>
                <th class="col">Type</th>
                <th class="col">Symbol</th>
                <th class="col">Name</th>
                <th class="col">Price</th>
                <th class="col">NOS</th>
                <th class="col">Total</th>
                <th class="col">Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item["type"] }}</td>
                <td>{{ item["symbol"] }}</td>
                <td>{{ item["name"] }}</td>
                <td>{{ item["price"] }}</td>
                <td>{{ item["nos"] }}</td>
                <td>{{ item["total"] }}</td>
                <td>{{ item["time"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
