{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select" name="symbol" id="symbol" style="width: auto; display: inline">
                <option value="title" selected disabled>Shares Of</option>
                {% for smbl in smbls %}
                <option value="{{ smbl['symbol'] }}">{{ smbl["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="number of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}